@font-face { font-family: Opificio; src: url('Opificio.ttf'); }
@font-face { font-family: ctb; src: url('Cursive standard Bold.ttf'); }
@font-face { font-family: Calibri; src: url('Calibri.ttf'); }

/*Navbar end*/

/* Search Bar */
#search-form {
	width: 430px;
	height: 360px;
	margin: 60px auto 0 auto;
	padding: 1px 0 0 0;
	background: url(images/form-bg.png) top center no-repeat;
}



.search-field {
	float: left;
	width: 150px;
	height: 34px;
	margin: 6px 0 0 8px;
	padding: 0 8px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #888;
	font-style: italic;
	font-weight: 400;
	background: #fff;
	border: 1px solid #ccc;
        
}

.search-field:focus {
	outline: 0;
	color: #666;
	border-color: #aaa;
	-moz-box-shadow: 0 1px 1px #dadada inset;
	-webkit-box-shadow: 0 1px 1px #dadada inset;
	box-shadow: 0 1px 1px #dadada inset;
}


.submit-container:hover, .submit-container:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e63c0d), to(#f55f15));
	background-image: -webkit-linear-gradient(top, #e63c0d, #f55f15);
	background-image: -moz-linear-gradient(top, #e63c0d, #f55f15);
	background-image: -ms-linear-gradient(top, #e63c0d, #f55f15);
	background-image: -o-linear-gradient(top, #e63c0d, #f55f15);
	background-image: linear-gradient(top, #e63c0d, #f55f15);
	-moz-box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
}

.submit-container:active {
	outline: 0;
	-moz-box-shadow: 0 1px 6px #e4340b inset;
	-webkit-box-shadow: 0 1px 6px #e4340b inset;
	box-shadow: 0 1px 6px #e4340b inset;
}

.submit {
	float: left;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0px solid #000;
	background: url(..\HSR01\HSR01PHP\magnifier.png) 20px 6px no-repeat;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	border-radius: 6px;
}

/* End Search Bar */

@media(max-width: 600px) {
    .content-section {
        margin-top: 50px !important;
        padding-top: 50px;
        background-color: #FFF;
        width: 100% !important;
        left: 0 !important;
        height: auto;    
    }
    .col-lg-10  contentbox {
        width: 100%;
        height: auto;
        position: absolute;    
    }
    .blendedshippingimg {
        display: none !important;
    }
    .overonsimg {
        display: none !important;
    }
}
@media(max-width: 767px) {
    .content-section {
        margin-top: 50px !important;
        padding-top: 50px !important;
        top: 200px !important;
        }
        .invulbalkregistreren {
            width: 150px !important;
        }
    
        .footer-section {
            position: fixed;
            bottom: 0;
        }
        
}
.content-section {
    background-color: #FFF;
    width: 60%;
    position: relative;
    left: 20%;
    padding-top: 5px;
    padding: 5px;
    margin-top: -60px;
    color: #595959;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    border-top: 4px solid #FF6600;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.h1 {
    color: #FF6600;
}
.tzttitle {
    color: #FF6600;
}
.titlePBS {
    float: right;
    color: #ff6600;
}
.blendedshippingimg{
    float: right;
    margin-left: 20px;
    margin-right: -150px;
    margin-bottom: 35px;
    margin-top: 40px;
    display: inline-block;
}

.overonsimg{
   float: right;
    margin-left: 20px;
    margin-right: -150px;
    margin-bottom: 35px;
    margin-top: 50px;
    width: 377px;
    height: 255px;
    display: block;
    
}

.blendedshipping {

    margin-top: 30px;   
    margin-bottom: 5px;
    font-family: Calibri;

}

.OverTZT {
    text-align: left;
    font-family: Calibri;
    
}


/*	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput2{
		margin: 0;
		padding: 5px 15px;
		font-family: Calibri;
		font-size:14px;
		color:#111;
		border:1px solid #FF6600; border-right:0px;
                    

	}
	.tfbutton2 {
		
		padding: 5px 7px;
		font-family: Calibri; 
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #FF6600;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
                margin-right: 50px; 
	}
	.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
                margin-right: 50px;
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}



.gebvoor {
    float: left;
    margin-left: -300px;
    color: white;
}

.maincontent{
    float: none;
    margin:0 auto;

}